@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #DF7900;
    --secondary-color: #0A0908;
}

html{
    font-size: 62.5%;

}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--secondary-color);
    color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: black;
}

.logo{
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1,1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:active{
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--primary-color);
        border-bottom: 3px solid var(--primary-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color:black;
        border-top:0.1 rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display:block;
    }

    nav a{
        display:block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--primary-color);
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: var(--primary-color);
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
    text-align: justify;
    text-justify: inter-word;
}

home-img{
    border-radius: 50%;

}

.home-img img{
    position: relative;
    width: 32vw;
    box-shadow: 0 0 25px solid var(--primary-color);
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;

}

.contact{
    margin-top: 20px;
}

.social-icons a{
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--primary-color);
    font-size: 2rem;
    border-radius: 50%;
    margin: 1rem 1.5rem 3rem;
    transition: 0.3s ease;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-10px); 
    background-color: var(--primary-color);
    box-shadow: 0 0 25px var(--primary-color);
}

#click-me-btn{
    margin-top: 20px;
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--primary-color);
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid;
    transition: 0.3s ease;
    cursor: pointer;
}

#fun-fact{
    display:none;
    color: #00ffcc;
    animation: blink 1s infinite;
}

.fun-fact{
    font-size: 3rem;
    margin-top: 10px;
    margin-left: 10px;
    font-family: cursive;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: var(--primary-color);
    color:black;
    box-shadow: 0 0 25px var(--primary-color);

}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position:relative;

}

.typing-text span::before{
    content: "CMSC 207 student";
    color: var(--primary-color);
    animation: words 20s infinite;

}

.typing-text span:after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;   
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cursor{
    to{
        border-left: 3px solid var(--primary-color);
    }
}

@keyframes words{
    0%, 25%{
        content: "UPOU Student";
    }
    26%, 50%{
        content: "Programmer";
    }
    51%, 75%{
        content: "Computer Teacher"
    }
    75%, 100%{
        content: "College Instructor"
    }

}

@media(max-width: 1000px){
    .home{
        gap:4rem;
    }
}

@media (max-width: 995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
}

.home .home-content h3{
    font-size: 2.5rem;
}

.home-content h1{
    font-size: 5rem;
}

.home-img img{
    width: 70vh;
    margin-top: 4rem;
}


/*  Hobbies and Interest  */

.top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 3rem;
    color: black;
    background-color: rgb(240, 227, 227);
    
}

.box-container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.4rem;
    background-color: black;
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    width: 250px;
}

.box{
    width: 323px;
    padding: 15px;
    height: 1000px;
    margin-bottom: 40px;
    margin: 15px;
    background-color: black;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); /* Soft glow */
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
}

.footer{
    opacity: 4;
    font-weight: 300;
    background: rgb(26, 19, 19);
    padding: 20px 0;
    text-align: center;
    font-size: 1.2rem;
}

